/*-- Вертикальная полоса на главной сцене --*/
#authtext{
	-fx-font-family: 'Inter 18pt Medium';
	-fx-font-size: 32;
	-fx-text-alignment: center;
}
.vline {
    -fx-background-color: -fx-glass;
}
#loginLeftPane{
    -fx-padding: 32px;
}
/*-- Ввод данных --*/
#login,
PasswordField {
	-fx-font-family: 'Inter 18pt Medium';
    -fx-background-color: -fx-glass;
    -fx-background-radius: 10px;
    -fx-font-size: 12px;
    -fx-text-fill: #797A7C;
    -fx-cursor: text;
}
PasswordField:focused,
#login:focused {
    -fx-text-fill: black;
}
#1st,
#2st,
#3st,
#4st,
#5st,
#6st {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 0;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-background-radius: 0;
}
/*-- Чекбоксы --*/
#savePassword,
#autoenter {
	-fx-font-family: 'Inter 18pt Medium';
    -fx-font-size: 10px;
    -fx-background-image: url('../../images/icons/checkbox_off.png');
    -fx-text-fill: -fx-black2C;
}
#savePassword:selected,
#autoenter:selected {
    -fx-background-image: url('../../images/icons/checkbox_on.png');
}
/*-- Метод авторизации --*/
#authList {
    -fx-background-color: -fx-glass;
    -fx-background-radius: 10px;
}
/*-- Поля --*/
#login {
	-fx-font-family: 'Inter 18pt Medium';
	  -fx-background-color: white;
	  -fx-border-color:#797A7C;
	  -fx-border-width:0.4;
	  -fx-border-radius: 9.6;
      -fx-background-position: left center;
}
#textRules2{
	-fx-font-size:10px;
	-fx-underline: true;
	-fx-text-alignment: center;
	-fx-font-family: "Inter 18pt Medium";
	
}
#textRules1{
	-fx-font-size:10px;
	-fx-fill: #797A7C;
	-fx-text-alignment: center;
	-fx-font-family: "Inter 18pt Medium";
}
PasswordField, #totp {
	-fx-font-family: 'Inter 18pt Medium';
	  -fx-background-color: white;
	  -fx-border-width:0.4;
      -fx-background-position: left center;
	  -fx-border-color:#797A7C;
	  -fx-border-radius: 9.6;
}
#discordButton{
	-fx-font-family: 'Inter 18pt Medium';
	-fx-background-color:white;
	-fx-border-radius:12.89;
	-fx-background-radius:12.89;
}
.discordtext{
	-fx-fill: #5865F2;
	-fx-font-size: 9;
}
/*-- Ссылки --*/
#createAccount {
    -fx-font-weight: bold;
	-fx-font-family: 'Inter 18pt Medium';
    -fx-font-size: 9px;
    -fx-text-align: right;
	-fx-text-alignment: right;
    -fx-fill: #FD7E14;
}
#createAccount:hover,
#createAccount:pressed {
    -fx-fill: -fx-green-hover;
    -fx-cursor: hand;
}
#forgotPass {
	-fx-font-family: 'Inter 18pt Medium';
    -fx-font-size: 8px;
    -fx-text-align: right;
	-fx-fill: FD7E14;
}
#forgotPass:hover,
#forgotPass:pressed {
    -fx-cursor: hand;
}
.textLogin {
	-fx-font-family: 'Inter 18pt Medium';
    -fx-fill: black;
    -fx-font-size: 10px;
    -fx-text-align: left;
}
Rectangle {
    -fx-fill: -fx-grayD;
    -fx-stroke: -fx-grayD;
}
/*-- Веб авторизация (НЕ найдено в FXML) --*/
/* #webAuth {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-align: center;
    -fx-text-fill: -fx-white;
    -fx-background-color: -fx-green;
} */
/*-- Кнопка входа --*/
#authButton {
	-fx-font-family: 'Inter 18pt Medium';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: white;
	-fx-background-radius: 10;
}
/* --START-- Enum AuthButtonState Button */
.activeButton {
    -fx-background-color: #FD7E14;
}
.activeButton:hover {
    -fx-background-color: #E06C0B;
}
.unactiveButton {
    -fx-background-color: #FD7E14;
}
.unactiveButton:hover {
    -fx-background-color: #E06C0B;
}
.errorButton {
    -fx-background-color: -fx-red;
}
.errorButton:hover {
    -fx-background-color: -fx-red-hover;
}
#discordview{
	
	-fx-background-radius: 8.08;
	-fx-background-repeat: no-repeat;
	-fx-background-image: url("../../images/icons/discord2.png");
    -fx-background-position: center center; 
}

#authtextdescription{
	-fx-font-size: 14;
	-fx-text-alignment: center;
}
/* --END-- */