/*-- Уведомления --*/
.notification {
    -fx-padding: 10px;
    -fx-background-color: -fx-white;
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-effect: -fx-effect-dropshadow;
}
.notification HBox VBox {
    -fx-padding: 0px 10px 0px 10px;
    -fx-spacing: 5;
}
#notificationHeading {
    -fx-fill: -fx-black2C;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
#notificationText {
    -fx-fill: -fx-black2C;
    -fx-font-size: 10px;
}

#serverButton {
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-background-color: #c2c2c2;
}

/*-- Информация о сервере --*/
#nameServer {
    -fx-text-fill: #fff;
    -fx-font-size: 18;
    -fx-font-family: 'Inter 24pt SemiBold';

}

#genreServer {
    -fx-font-family: 'Inter 18pt';
    -fx-text-fill: #fff;
    -fx-font-size: 12px;
}

#online_block{
    -fx-background-color:#fff;
    -fx-background-radius:10;
    
}
#online{
    -fx-font-family: 'Mazzard M Medium';
    -fx-font-size:8;
}

